<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CarSales</display-name>
<welcome-file-list>
    <welcome-file>Homepage.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
 	 <servlet-name>HomepageServlet</servlet-name>
 	 <servlet-class>com.pitch.CarSales.HomePage</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>HomepageServlet</servlet-name>
  <url-pattern>/HomePageurl</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>com.pitch.CarSales.RegisterPage</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
 	 <servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.pitch.CarSales.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
</web-app>
    
  